@import 'tailwindcss';

.input {
    background-color: var(--color-light);
    border-color: var(--color-vonCount);
    color: var(--color-aro);
    border-radius: 10px;
    border-width: 2px;
    padding: 8px;
}

.error {
    border-color: var(--color-red) !important;
    color: var(--color-red) !important;
}

.input:focus {
    border-color: var(--color-blue);
    color: var(--color-blue);
}