@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-darker: #282a36;
    --color-dark: #44475a;
    --color-light: #f8f8f2;
    --color-blue: #6272a4;
    --color-cyan: #8be9fd;
    --color-green: #50fa7b;
    --color-orange: #ffb86c;
    --color-pink: #ffb86c;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
    --color-nosferatu: #282a36;
    --color-aro: #44475a;
    --color-cullen: #f8f8f2;
    --color-vonCount: #6272a4;
    --color-vanHelsing: #8be9fd;
    --color-blade: #50fa7b;
    --color-morbius: #ffb86c;
    --color-buffy: #ff79c6;
    --color-dracula: #bd93f9;
    --color-marcelin: #ff5555;
    --color-lincoln: #f1fa8c;
}
@font-face {
    font-family: 'PixelatedFont';
    src:
        local('PixelatedFont'),
        url(resources/fonts/PixelatedFont.ttf) format('truetype');
}

:root {
    font-family: PixelatedFont, sans-serif;
    font-weight: 400;

    color-scheme: dark;
    color: var(--color-cullen);
    background-color: var(--color-darker);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2rem;
}
